.focus {
  background-color: gray;
}

.rest {
  background-color: crimson;
}

.play {
  background-color: aquamarine;
}

.getUp {
  background-color: brown;
}

#clock {
  display: flex;
}

h1 {
  font-size: 16mm;
  margin-top: 0mm;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h2 {
  font-size: 12mm;
  margin-top: 4mm;
  margin-left: 2mm;
  margin-bottom: 0px;
}

#description {
  font-size: 1.2cm;
  font-weight: 900;
}